*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: linear-gradient(
      139deg,
      rgb(179, 7, 141),
      rgba(80, 10, 65, 0)
    ),
    linear-gradient(318deg, rgb(50, 50, 77), rgb(162, 37, 69));
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  color: #fff;
}

/* Text style */

h1 {
}
h2 {
  margin: 1rem;
}
h3 {
  margin: 1rem;
}
h4 {
  margin: 3rem;
}

a {
  color: inherit;
}

/* Layout */
.header-photo img {
  border: none;
  border-radius: 50%;
  width: 300px;
  right: 30px;
}
/* Component */

.box {
  position: relative;

  border-radius: 0.875rem;
  background-image: linear-gradient(to right, #2d3355, #2d4e9d);
  margin-block: 2rem;
}

.box-profil {
  left: -12rem;
  top: -60px;
  height: 600px;
  width: 500px;
}

.box-sujet {
  top: -17rem;
  right: -40rem;
  height: 300px;
  width: 400px;
}

.box-competence2 {
  height: 1200px;
  top: 300px;
}

.box-competence3 {
  height: 700px;
  width: 900px;
  height: 1100px;
  top: -900px;
}
.box-competence {
  top: -2060px;
  right: -50%;
  height: 1100px;
  width: 900px;
}

.bigger {
  font-size: larger;
}

.box-formation {
  width: 1000px;
  height: 700px;
  top: -200px;
  left: -30px;
}
.box-logiciels {
  height: 700px;
  width: 600px;
  right: -600px;
  top: -2000px;
}
.box::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid rgb(255 255 255 / 0.47);
  border-radius: 0.875rem;
  translate: 8px -8px;
}

.competences {
  position: fixed;
  right: 20px;
}

.box-header {
  border-radius: 0.875rem 0.875rem 0 0;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #3b66af, #5a4495);
}

.box-content {
  padding: 0.5rem 1.5rem 1.5rem;
}

.box-header {
  top: 30rem;
}

/* utilitaires */
.shadow {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
